/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 56px;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1380px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1580px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1780px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1900px;
  }
}

@media (min-width: 2100px) {
  .container {
    max-width: 2080px;
  }
}
@media (min-width: 2200px) {
  .container {
    max-width: 2180px;
  }
}
