/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 180px;
  background: whitesmoke;
}

@media (min-width: 480px) {
  .container {
    max-width: 1920px;
  }
}
